.all-models-container {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.model-viewer-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  min-height: 300px;
  padding: 0 1.5rem;
}

@media screen and (min-width: 550px) {
  .model-viewer-wrapper {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: 860px) {
  .model-viewer-wrapper {
    width: 600px;
    height: 500px;
  }
}


.model-viewer,
.model-viewer html,
.model-viewer canvas {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 4px solid #F2F2F2;
  border-radius: 21px;
  background: radial-gradient(circle, rgba(255,255,255,0.38) 0%, rgba(253,253,253,0.4) 62.62%, #EDEDED 99.94%);
}

model-viewer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-self: center;
  width: 100%;
  height: 100%;
}

.ar-error {
  opacity: 0;
  visibility: hidden;
  border-radius: 18px;
  background-color: #131415;
  padding: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: opacity 0.3s;
  text-align: center;
  font-family: europa;
  font-weight: 300;
  font-style: normal;
  line-height: 2.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 300ms all;

  &.show {
    opacity: 0.9;
    visibility: visible;
    transition: 300ms all;
  }

  &__text {
    font-size: 1rem;
    color: #ECF0F4;
    width: 150px;
    text-align: left;
    letter-spacing: 0;
    line-height: 19px;
  }

  &__text-link {
    font-size: 1rem;
    color: #ECF0F4;
    width: 150px;
    text-align: left;
    letter-spacing: 0;
    line-height: 19px;
    text-decoration: underline;

    &:link,
    &:visited,
    &:active {
      color: #ECF0F4;
    }
  }

  &__close-btn {
    font-size: 1.5rem;
    color: #ECF0F4;
    letter-spacing: 0;
    line-height: 19px;
    background: none;
    border: none;
    height: 32px;
    width: 32px;
    margin-left: 50px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.ar-progress {
  position: absolute;
  width: calc(100% / 3);
  height: 7px;
  color: #FF1ABE;
  border: 1px solid #FF1ABE;
  border-radius: 40px;
  top: calc(50% - 5px);
  left: calc(50% - 100% / 6);
  opacity: 0;
  transition: opacity 0.3s 0.3s;
  
  &.show {
    transition-delay: 0s;
    opacity: 1;
  }

  &__bar {
    width: 100%;
    height: 100%;
    background-color: currentColor;
    transform-origin: top left;
    transform: scaleX(0);
  }
}

.ar-desktop-info {
  opacity: 0;
  visibility: hidden;
  border-radius: 18px;
  background-color: #131415;
  padding: 24px;
  position: absolute;
  bottom: 12px;
  right: 12px;
  transition: opacity 0.3s;
  text-align: center;
  font-family: europa;
  font-weight: 300;
  font-style: normal;
  line-height: 2.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 300ms all;
  z-index: 1;

  &.show {
    opacity: 0.9;
    visibility: visible;
    transition: 300ms all;
  }

  &__header {
    max-width: 220px;
    color: #ECF0F4;
    margin-bottom: 1rem;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
  }
  
  &__text {
    max-width: 220px;
    color: #ECF0F4;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__close-btn {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 1.5rem;
    color: #ECF0F4;
    background: none;
    border: none;
    height: 32px;
    width: 32px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.ar-desktop-btn {
  position: absolute;
  display: block;
  visibility: hidden;
  bottom: 16px;
  right: 16px;
  transform-origin: bottom right;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #D9D8D8;
  border-radius: 100px;

  &.show {
    visibility: visible;
  }

  &:focus {
    outline: none;
  }
}
